.root {
  min-height: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.message {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.message p {
  margin: 0;
  font-size: 12px;
}

.action {
  display: flex;
  justify-content: center;
}
